header{
    background-image: url(../img/pattern.png);
    background-color: rgb(0, 183, 255);
    height: 150px;
}

.logo_booleaner{
    height: 100px;
}

.titolo{
    font-size: 80px;
}
.testo_grigio{
    font-size: 25px;
    font-weight: bold;
    color: gray;
}

.tim-1{
    width: 50%;
}
.tim-2{
    width: 43%;
}

.testo_normale{
    font-size: 25px;
}

.fondo_pagina{
    color: white;
    width: 310px;
    height: 210px;
}
.fondo_pagina1{
    background-image: url(../img/monitor.jpg);
}
.fondo_pagina2{
    background-image: url(../img/graph.jpg);
}